<section data-ng-controller="ProfilesController" data-ng-init="find()">
    <div class="page-header">
        <h1>Profiles</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="profile in profiles" data-ng-href="#!/profiles/{{profile._id}}" class="list-group-item">
			<small class="list-group-item-text">
				Posted on
				<span data-ng-bind="profile.created | date:'medium'"></span>
				by
				<span data-ng-bind="profile.user.displayName"></span>
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="profile.name"></h4>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!profiles.$resolved || profiles.length">
    	No Profiles yet, why don't you <a href="/#!/profiles/create">create one</a>?
    </div>
</section>