
<!-- Container #1 Top -->
<header data-ng-include="'/modules/core/views/header.client.view.html'"></header>
<div flex layout="row">
    <!-- Container #3 Left -->
    <md-sidenav class="user-sideNav" md-is-locked-open="$mdMedia('gt-sm')" md-component-id="left" class="md-whiteframe-z2" layout="column" layout-align="space-around center">

            <md-button layout-fill class="md-raised md-accent">Home</md-button>
            <md-button layout-fill  class="md-raised md-accent">Edit</md-button>
            <md-button layout-fill  class="md-raised md-accent">Blog</md-button>
            <md-button layout-fill  class="md-raised md-accent" ng-click="signout()">Logout</md-button>

    </md-sidenav>
    <div flex layout="column" ui-view="tabContent" id="tabContent"></div>
    <div layout="column" layout-fill>
    <md-whiteframe class="md-whiteframe-z5" style="height:200px"layout-fill layout="column" layout-align="end center">
        <md-toolbar  layout="row" layout-align="center center">
            <div layout="row" layout-margin>
                <div flex flex-order="3">

                    <md-button flex="35"  class="md-raised md-accent">Create</md-button>
                </div>
                <div flex flex-order="2">
                    <md-button layout-fill  class="md-raised md-accent">Search</md-button>
                </div>
                <div flex flex-order="1">
                    <md-button flex="35"  class="md-raised md-accent">Create</md-button>

        </md-toolbar>
    </md-whiteframe>
    <md-whiteframe class="md-whiteframe-z1" style="height:240px"layout-fill layout-align="center center">
        <div flex layout-align="center center"layout="row" ui-view="tabContent" id="tabContent"></div>
    </md-whiteframe>

</div>
</div>
